#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5em;
}

.card {
  display: flex;
  column-gap: 10px;
   row-gap: 10px;
}

.brand{
  font-weight: bold;
  color: rgb(99, 195, 99);
  transition: color 0.3s ease-in-out;
}

.brand:hover{
  color: rgb(9, 240, 9);  /* Set the hover text color */
  text-shadow: 0 0 10px #759a6ab8, 0 0 10px, 0 0 10px, 0 0 40px #0cf50c;
  /* Above line applies a green glow effect */
}

.block{
  display: block;
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
}

.box{
  display: block;
}

.sub {
  color: #000000;
  font-weight: 500;
  font-size: 2.2em;
}

.title-hero{
  font-size: 12.2em !important;
}

span{
  color: rgb(99, 195, 99);
}
